
<table class="tx-myflat" >
	<tr>
		<td>
			<f:translate key="tx_myflat_domain_model_flat.name" />
		</td>
		<td>
		{flat.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myflat_domain_model_flat.address" />
		</td>
		<td>
		{flat.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myflat_domain_model_flat.zipcode" />
		</td>
		<td>
		{flat.zipcode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myflat_domain_model_flat.city" />
		</td>
		<td>
		{flat.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myflat_domain_model_flat.country" />
		</td>
		<td>
		{flat.country}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myflat_domain_model_flat.capacity" />
		</td>
		<td>
		{flat.capacity}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myflat_domain_model_flat.lat" />
		</td>
		<td>
		{flat.lat}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myflat_domain_model_flat.lon" />
		</td>
		<td>
		{flat.lon}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myflat_domain_model_flat.description" />
		</td>
		<td>
		{flat.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_myflat_domain_model_flat.images" />
		</td>
		<td>
				<f:image src="{flat.images.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>